* {
 	  box-sizing: border-box;
	}

	 #myUL {
	 list-style-type: none;
  	 padding: 0;
     margin: 0;
	}

	#myUL li{
		width: 100%;
	}

	#myUL li a {
	  border: 1px solid #ddd;
  	margin-top: -1px; /* Prevent double borders */
  	background-color: #f6f6f6;
  	padding: 12px;
  	text-decoration: none;
  	font-size: 18px;
  	color: black;
  	display: block;
  	width:100%;
	}

	#myUL li a:hover:not(.header) {
  	background-color: #eee;
	}